/* src/index.css */
:root {
  --border-color: #000000;
  --border-width: 2px;
  --accent-color: #2962ff; /* Xanh Neon */
  --bg-white: #ffffff;
  --text-black: #000000;
  --gray-light: #eeeeee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: var(--text-black);
}

/* Class tiện ích dùng chung */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}