/* src/index.css */
@import "https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"; 
:root {
    --color-global: #3278f6;
    --white: #fff;
    --text-black: #29324e;
    --grey-bold: #8d94ac;
    --color-red: #fb4e4e
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: "Chakra Petch";
  margin: 0 auto;
  background: #f3f3f3;
  font-weight: 400;
  font-size: 14px;
}

a { text-decoration: none; color: inherit; }
ul { list-style: none; }
img { max-width: 100%; display: block; }