.container {
    max-width: 1200px;
    margin: 0 auto;
}

.slider {
    border-radius: 10px;
    margin-bottom: 32px;
}

.category {
    background-color: white;
    padding: 24px;
}

.title {
    font-size: 24px;
    border-bottom: 3px solid blue;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 24px;
}

.category-grid {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc
    
}

.category-item {
    width: 25%;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
}

.category-item::before {
    text-decoration: none;
    color: var(--text-black);
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--grey-bold);
    -webkit-clip-path: polygon(0 0,100% 0,65% 100%,0% 100%);
    clip-path: polygon(0 0,100% 0,65% 100%,0% 100%);
    transition: .4s
}

.category-item:hover::before {
    width: 100px
}

.category-item:hover:nth-child(1)::before {
    background: #5188ff
}

.category-item:hover:nth-child(2)::before {
    background: #ff76d0
}

.category-item:hover:nth-child(3)::before {
    background: #72f5cb
}

.category-item:hover:nth-child(4)::before {
    background: #7f52ff
}

.category-item:hover:nth-child(5)::before {
    background: #ff6c75
}


.txt {
    position: relative;
    margin-bottom: 16px;

}

.main-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.sub-name {
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

}
.item-img {
    width: 105px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
