

.breadcrumb {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    align-items: center;
}

.trang-chu {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #8d94ac;
}

.container {
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
    
}

.banner {
    max-width: 1200px;
    margin: 0 auto;
}

.product-container {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}

.left {
    padding: 24px;
    width: 290px;
}

.left-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.right {
    padding: 24px;
    width: calc(100% - 290px - 32px);
}

.right-heading {
    display: flex;
    justify-content: space-between;

}
.right-title {
    font-size: 24px;
    display: inline-block;
    border-bottom: 3px solid var(--blue, #3278f6);
    font-weight: 700;
}

.sort {
    display: flex;
    align-items: center;

}

.total-products {
    color: #8d94ac;
    padding-right: 10px;
    border-right: 1px solid #8d94ac;
}
.content-sort p{
    color: #8d94ac;
}

.content-sort {
    padding-left: 10px;
    display:  flex;
    align-items: center;
}
.sort-select {
    border: none;
    outline: none;
    font-weight: 700;
    font-family: "Chakra Petch";

}

.product-list {
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}