
.container {
    max-width: 1200px;
    margin: 0 auto;
}


.breadcrumb {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    align-items: center;
}

.breadcrumb p {
    width: fit-content;
    display: inline;
    color: black;
}

.trang-chu {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #8d94ac;
}

.main-product-detail {
    padding: 24px;
    background-color: white;
}

.content {
    display: flex;
}

.product-image-container {
    width: 290px;
}

.product-image-container .thumbnail {
    width: 100%;
    min-height: 250px;
    margin-bottom: 10px;
    position: relative;
}

.image-thumb {
    display: flex;
    flex-wrap: wrap;
}

.thumb-item {
    width: calc(100% / 3 - 8px);
    height: 75px;
    margin-bottom: 8px;
    margin-right: 8px;
    border: 1px solid #ededed;
    transition: all 0.1s ease-in;
}

.thumb-item.active {
    border: 2px solid var(--color-global);
}

.thumb-item img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-main-detail {
    width: calc(100% - 390px - 290px - 48px);
    margin: 0 24px;
}

.logo img {
    height: 80px;
    width: 80px;
    object-fit: contain;
}

.name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.info {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #8d94ac;
    padding-bottom: 16px;
    border-bottom: 1px solid #ededed;
}

.review {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.icon-star {
    background: url(https://www.tncstore.vn/static/assets/default/images/icon_star.png?v=1) no-repeat;
    display: block;
    background-size: 60px 75px;
    width: 60px;
    height: 12px;
    background-position: 0 0;
    margin-left: 5px;
}

.review-count {
    padding: 0 10px;
    border-right: 1px solid #ccc;;
    border-left: 1px solid #ccc;;

}

.sold {
    padding-left: 10px;
}

.specs {
    margin-top: 20px;
}

.specs li{
    list-style: outside;
    line-height: 22px;
}

.product-main-right {
    width: 390px;

}

.offer {
    margin-bottom: 20px;
}

.offer .title {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background: #fb4e4e;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.title p {
    margin-left: 5px;
}

.offer-content {
    padding: 12px;
    border: 1px solid #fb4e4e;
}

.offer-content p {
    font-size: 16px;
    line-height: 22px;
}

.main-price {
    padding: 16px 0;
    border-bottom: 1px solid #ededed;
}
.price {
    display: flex;
    align-items: center;
}

.final-price {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-red);
}

.old-price {
    font-size: 18px;
    font-weight: 600;
    color: #8d94ac;
    padding: 0 16px;
    text-decoration: line-through;

}

.sale {
    padding: 2px 6px;
    border: 1px solid var(--color-red);
    font-weight: 600;
    color: var(--color-red);
}

.info-vat {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.info-vat .item {
    font-size: 12px;
    color: #3e4b75;
    font-weight: 600;
    padding: 6px 8px;
    background: #ededed;
    margin-right: 8px;
}

.add-product {
    padding: 16px 0;
}

.choose-quantity {
    display: flex;
    align-items: center;
}

.choose-quantity span {
    font-weight: 600;
    color: #8d94ac;
    white-space: nowrap;
}

.amount-control {
    display: flex;
    margin-left: 16px;
    width: calc(100% - 76px);
}

.amount-control button {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 28px;
    cursor: pointer;
}

.amount-control input {
    width: calc(100% - 100px);
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.add-button {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.add-cart {
    width: calc(100% / 2 - 10px);
    text-align: center;
    border: 2px solid var(--color-global);
    background-color: var(--color-global);
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.add-cart p {
    text-transform: capitalize;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.add-cart:hover {
    background-color: white;
    border: 2px solid var(--color-global);
}

.add-cart:hover p {
    color: var(--color-global);
}

.buy-now {
    margin-right: 0;
    background: #fff;
    color: var(--color-global);
    border: 2px solid var(--color-global);
    width: calc(100% / 2);
    text-align: center;
    cursor: pointer;
}

.buy-now p {
    color: var(--color-global);
    display: block;
    text-transform: capitalize;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
}

.buy-now:hover {
    background-color: var(--color-global);
}

.buy-now:hover p {
    color: white;
}

.product-content {
    display: flex;
    margin: 32px 0;
}

.content-left {
    width: calc(100% - 447px);
}

.product-description {
    padding: 24px;
    background-color: white;
    position: relative;
}

.product-description h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid var(--blue, #3278f6);
    display: inline-block;
}

.description-content {
    margin: 24px 0;
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease;
    font-family: "Chakra Petch" !important;
}

.description-content.collapsed {
    max-height: 330px;
}

.description-content.expanded {    
  max-height: none;
  padding-bottom: 20px;
}

/* .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    pointer-events: none;
} */

.button-toggle {
    display: block;
    margin: 15px auto 0;
    padding: 8px 30px;
    background-color: #fff;
    border: 1px solid var(--color-global);
    color: var(--color-primary);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
    z-index: 9;
}

.content-right {
    width: 415px;
    margin-left: 32px;
}

.specs-box {
    background: #fff;
    padding: 24px;
}

.specs-box h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid var(--blue, #3278f6);
    display: inline-block;
    margin-bottom: 24px;
}

.specs-content {
    max-height: 510px;
    overflow: hidden;
}

table tr:nth-child(2n) {
    background: #f5f5f5;
}

table td {
    padding: 12px;
    font-weight: 600;
}

table td:nth-child(1) {
    width: 120px;
    color: #8d94ac;
}