.wraper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.breadcrumb {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    align-items: center;
}

.trang-chu {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #8d94ac;
}

.trang-chu p {
    color: black;
    
}

.login{
    margin: 0 auto;
    background-color: white;
    margin-bottom: 40px;
}

.login h2 {
    text-align: center;
    margin-top: 24px;
    color: var(--color-global);

}

.login-form {
    width: 500px;
    margin: 0 auto;
    padding: 24px;
}

.login-form p {
    font-size: 16px;
    color: var(--color-global);
    margin-bottom: 12px;
}

.email-input {
    width: 100%;
    height: 40px;
    margin-bottom: 32px;
    font-size: 16px;

}

.password-input{
    width: 100%;
    height: 40px;
    margin-bottom: 32px;
    font-size: 16px;
}

.name-input,
.confirm-password-input,
.phone-input {
    width: 100%;
    height: 40px;
    margin-bottom: 32px;
    font-size: 16px;
}

.error-text {
    color: #d9534f;
    margin-bottom: 12px;
    font-size: 14px;
}

input {
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding-left: 8px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
}


.submit {
    width: 100%;
    height: 40px;
    background-color: var(--color-global);
    border: none;
    margin: 16px 0;
    cursor: pointer;
    position: relative;
    overflow: hidden
}

.submit::before {
    position: absolute;
    content: "";
    width: 0;
    height: 40px;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0,100% 0,95% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,95% 100%,0 100%);
    background: #193c7b;
    transition: .5s;
    opacity: 0
}

.submit:hover::before {
    opacity: 1;
    width: 120%
}

.submit span {
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: 600;
    z-index: 9;
}

.google {
    width: 100%;
    height: 40px;
    background-color: white;
    border: 2px solid var(--color-global);
    cursor: pointer;
    margin-bottom: 16px;
}

.google span {
    color: gray;
    font-size: 16px;
    font-weight: 600;
}

.forgot-password {
    color: var(--color-global);
    text-align: right;
}

.register span{
    color: var(--color-global);
}

.success-text {
    color: #2e7d32;
    margin-bottom: 12px;
    font-size: 14px;
}