.header {
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #3278f6;
}

.header-top {
    max-width: 1200px;
    padding: 10px;
    display: flex;
    background-color: #3278f6;
    justify-content: flex-end;
    margin: 0 auto;
}
.header-top-component {
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 0 15px;
    border-right: 2px solid #2860c5;
}

.header-top-component:last-child {
    padding-right: 0;
    border: none;
}

.header-mid {
    background: #29324e;
    padding: 0 24px;
}

.container {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}

.header-mid-containter {
    align-items: center !important;
    display: flex;
}
.logo {
    height: 80px;
    margin-right: 40px;
}

img {
    max-height: 100%;
    width: auto;
}

.logo img {
    display: block;
}

.dropbox {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 200px;
    height: 40px;
    gap: 5px;
    border: 2px solid #545b71;
    cursor: pointer;
    margin-right: 15px;
}

.dropbox:hover .dropdown {
    display: block;
}

.farBars {
    margin: 0 5px;
    font-size: 12;
}

.dropbox-text {
    font-weight: 600;
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: -1;
    background-color: #29324e;
    width: 200px;
    display: none;
    border-left: 2px solid #545b71;
    border-right: 2px solid #545b71;
    border-bottom: 2px solid #545b71;
    transition: all 0.2s ease;
}

.dropdown-li {
    position: relative;
    text-align: left;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.dropdown-li span {
    z-index: 9;
}

.dropdown-li:hover .txt-hover::before {
    width: 100%;
    transition: .5s;  
}

.dropdown-li::before {
    content: "";
    top: 0;
    left: 110%;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in;
    position: absolute;
    background-color: var(--color-global);
    transform: skewX(20deg);
}

.dropdown-li:hover::before {
    left: 155px;
}
.search-bar {
    background-color: white;
    width: 45%;
}

.search-container {
    float: left;
    width: 100%;
    height: 40px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    border: 0;
    padding: 0 5px 0 10px;
    width: calc(100% - 200px);
    height: 100%;
    outline: none;
    font-size: 14px;
}

.search-button {
    width: 150px;
    height: 40px;
    background: var(--color-global);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}

.search-button::before {
    position: absolute;
    content: "";
    background: #193c7b;
    width: 0;
    left: 0;
    height: 45px;
    -webkit-clip-path: polygon(0 0,100% 0,80% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,80% 100%,0 100%);
    z-index: -1;
    transition: .4s
}

.search-button:hover::before {
    width: 150%;
}


.FaSearch {
    margin-left: 5px;
}

.header-mid-right {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    color: white;
}

.users {
    display: flex;
    font-weight: 700;
    text-align: center;
    padding: 0 20px;
    border-right: 2px solid #ccc;
    align-items: center;
}

.users-span {
    margin-left: 5px;
    color: white;
    position: relative;
    min-width: 65px;
}

.txt-hover {
    width: fit-content;
    position: relative;
    display: inline-block;
}

.txt-hover::before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: -1px;
    left: 0;
    transition: .5s;
    background: white
    
}

.txt-hover:hover::before {
    width: 100%;
    transition: .5s
}

.cart {
    background: #3E4B75;
    margin-left: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.cart-counter {
    width: 24px;
    height: 24px;
    background: #fb4e4e;
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    margin-left: 10px !important;
    display: block;
}