.container {
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
}

.logo {
    max-width: 80px;
    height: 80px;
    display: flex !important;
    align-items: center;
}

.logo img {
    max-width: 80px;
    height: auto;
    margin: auto 0;
}